.cardComponentStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.rowStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25vw;
    margin-bottom: 10%;
}
.cardStyle{
    width: 40%;
    height: 100%;
}
.valueFontSize{
    font-size: 7vh;
}
.descStyle {
    font-size: 2vh;
    margin-bottom: 5%;
}
